# ðŸ“Š NerdBud â€“ Progress Tracking & Learner Profiling

This notebook analyzes quiz attempt logs to:
- Measure topic-wise performance
- Identify weak areas
- Build a learner profile for AI-driven decisions

In [1]:
import pandas as pd
import os

In [2]:
BASE_PATH = os.path.abspath(os.path.join(os.getcwd(), ".."))
ATTEMPT_LOG = os.path.join(BASE_PATH, "data", "sample_logs", "quiz_attempts.csv")

if not os.path.exists(ATTEMPT_LOG):
    raise FileNotFoundError("Quiz attempt log not found. Run QuizEngine first.")

df = pd.read_csv(ATTEMPT_LOG)
df

,question_id,topic,selected,correct,time_taken,timestamp
0,1,variables,value_1,True,14.49,2026-01-16 15:18:05.348793
1,2,loops,for,True,17.09,2026-01-16 15:18:22.462868

In [3]:
total_questions = len(df)
total_correct = df["correct"].sum()
overall_accuracy = round(total_correct / total_questions, 2)

overall_accuracy

np.float64(1.0)

In [4]:
topic_summary = (
    df.groupby("topic")
    .agg(
        attempts=("question_id", "count"),
        correct_answers=("correct", "sum"),
        avg_time=("time_taken", "mean")
    )
)

topic_summary["accuracy"] = (
    topic_summary["correct_answers"] / topic_summary["attempts"]
).round(2)

topic_summary

           attempts  correct_answers  avg_time  accuracy
topic
loops             1                1     17.09       1.0
variables         1                1     14.49       1.0

In [5]:
WEAK_THRESHOLD = 0.7

weak_topics = topic_summary[
    topic_summary["accuracy"] < WEAK_THRESHOLD
]

weak_topics

Empty DataFrame
Columns: [attempts, correct_answers, avg_time, accuracy]
Index: []

In [6]:
learner_profile = topic_summary.reset_index()[[
    "topic",
    "accuracy",
    "avg_time",
    "attempts"
]]

learner_profile

       topic  accuracy  avg_time  attempts
0      loops       1.0     17.09         1
1  variables       1.0     14.49         1

In [7]:
PROFILE_PATH = os.path.join(
    BASE_PATH, "data", "datasets", "learner_profile.csv"
)

os.makedirs(os.path.dirname(PROFILE_PATH), exist_ok=True)
learner_profile.to_csv(PROFILE_PATH, index=False)

PROFILE_PATH

'C:\\Users\\Shashank M N\\Desktop\\nerdbud\\data\\datasets\\learner_profile.csv'